<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyChQmYua6MCSjMVYlElJelXw1kvW4CsBb8</string>
	<key>GCM_SENDER_ID</key>
	<string>22315504626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tutorial</string>
	<key>PROJECT_ID</key>
	<string>fir-79225</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-79225.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22315504626:ios:7f6d8363d9438a8706d16b</string>
	<key>DATABASE_URL</key>
	<string>https://fir-79225-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>